config RT_USING_USER_MAIN
  bool
  default y

menu "App components"
  source "$BSP_DIR/app/tension/Kconfig"
  source "$BSP_DIR/app/tilt/Kconfig"
endmenu

config RT_USING_LORAWAN
  depends on APP_COMPONENTS_TENSION || APP_COMPONENTS_TILT
  bool
  default y
